@import '../../Assets/Partials/variables';

.CartItem{
    height: 116px;
    width: 1000px;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #BDBDBD;

    &_left{

        &__image{
            height: 100px;
            width: 100px;
        }
    }

    &_center{
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;

        &__name{
            text-transform: uppercase;
            font-size: 1.2rem;
            color: $text-primary-color;
            overflow: hidden;
        }

        &__variant{
            text-transform: uppercase;
            font-size: 0.8rem;
            color: $text-secondary-color;
        }
    }

    &_right{
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &_text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &__price{
                font-weight: 700;
                font-size: 1.1rem;
                color: $text-primary-color;
            }

            &__quantity{
                text-transform: uppercase;
                font-size: 0.8rem;
                color: $text-primary-color;
            }
        }

        &_button{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &__cartButton{
                background: none;
                border: none;
                outline: none;
                color: #db5e5eb4;
                font-size: 1rem;
                transition: font-size,color, 0.1s ease-in;

                &:hover{
                    cursor: pointer;
                    font-size: 1.1rem;
                    color: #f14545;
                }
            }
        }
    }
}