*{
    box-sizing: border-box;
}

.ProductInfo{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;


    &_left{

        &__image{
            height: 500px;
            width: 500px;
        }
    }

    &_right{
        height: auto;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &__name{
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #1A1A1A;
            font-size: 2rem;
        }

        &__variant{
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #2c2c2c;
            font: 1rem;
        }

        &__price{
            color: #1A1A1A;
            letter-spacing: 1px;
            font: 1rem;
        }

        &__cartButton{
            background-color: #1A1A1A;
            color: white;
            font-size: 1.3rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            outline: none;
            border: none;
            border-radius: 2px;
            padding: 10px 15px;
        }
    }
    
}