.Carousel{
    display: flex;
    height: 500px;

    &_header{

    }

    &_display{
        display: flex;
        justify-content: center;
        align-items: center;
        &__button{
            width: 100px;
            height: 100%;
            background-color: #fdfdfd00;
            outline: none;
            border: none;
            font-size: 2rem;
            color: #0000002c;
            cursor: pointer;
        }

        &__image{
            text-align: center;
            height: 100%;
            width: 60%;
            object-fit: cover;
            object-position: center;
            transition: all 1s ease-in;
        }
    }
}