@import './Assets/Partials/variables';

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font;

    &_cartPage{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
